
// Fonts
@import url(https://fonts.googleapis.com/css?family=Oxygen:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body, html {
    height: 100%;
    overflow-y: hidden;
}

.main {
    z-index: -1;
    height: 95%;
    padding-bottom: 10px;
}

.contact-panel {
    z-index: -1;
    height: 95%;
    overflow-y: hidden;
}

.contacts-list {
    z-index: -1;
    height: 92%;
    overflow-y: auto;
}

.panel-body {
    z-index: -1;
    height: 93%;
}
